---
layout: "default-layout.njk"
class: "content"
---
<div class="grid">
    <div class="introduction">
        <h1 class="title">Jannis Wicke</h1>
        <p>Hi! Ich bin Jannis. Designer,  Entwickler und Mitgründer von <a href="https//:pixel-pink.de">PixelPink</a>. Wenn Du eine Frage hast oder mit mir arbeiten willst schreib mir einfach eine <a href="mailto:jannis@pixel-pink.de">E-Mail</a>.
        </p>
    </div>
    <h2 class="section-headline">Projekte</h2>
    <ul class="projects">
        {%- for project in projects-%}
            <li class="project">
                <a href={{project.url}}>
                    {{project.title}}
                    <span class="hidden">öffnen</a>
                </a>
            </li>
            {%- endfor-%}
        </ul>
    </div>