<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>

    {# <link rel="stylesheet" href="/assets/style.css"/> #}
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@600&text=§*-_1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZaäbcdefghijklmnoöpqrstuüvwxyz%20&family=Orbitron:wght@900&text=JWaniscke%20&display=swap" rel="stylesheet">

    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
    {% include "assets/style.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{css | cssmin | safe}}
    </style>

  </head>
  <body>
    <header>
      <a href="/">*<span class="mouth">_</span>*</a>
      <a href="mailto:jannis@pixel-pink.de">E-Mail</a>
    </header>

    <section class={{class}}>
      {{ content | safe }}
    </section>

    <footer>
      <a href="/impressum/" >Impressum</a>
      <span>2020</span>
    </footer>
    <script>
      let links = document.querySelectorAll("a");
      links.forEach(link => link.addEventListener('mouseenter', changeMouth("o")));
      links.forEach(link => link.addEventListener('mouseout', changeMouth("-")));
      function changeMouth(symbol) {
        let mouth = document.querySelector(".mouth");
        mouth.innerHTML = symbol;
      }
    </script>
  </body>

</html>